<div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
  <!-- Metric Item Start -->
  <div class="rounded-lg border border-gray-200 bg-white p-3 dark:border-gray-800 dark:bg-white/3">
    <div class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-lg dark:bg-gray-800">
      <svg lucideUsers size="20" class="text-color"></svg>
    </div>
    <div class="flex items-end justify-between mt-3">
      <div>
        <span class="text-xs text-gray-500 dark:text-gray-400">Clientes</span>
        <h4 class="mt-1 font-bold text-gray-800 text-lg dark:text-white/90">3,782</h4>
      </div>
      <p-tag severity="success" value="11.01%" icon="pi pi-arrow-up" [rounded]="true" class="text-xs"></p-tag>
    </div>
  </div>
  <!-- Metric Item End -->

  <!-- Metric Item Start -->
  <div class="rounded-lg border border-gray-200 bg-white p-3 dark:border-gray-800 dark:bg-white/3">
    <div class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-lg dark:bg-gray-800">
      <svg lucidePackage size="20" class="text-color"></svg>
    </div>
    <div class="flex items-end justify-between mt-3">
      <div>
        <span class="text-xs text-gray-500 dark:text-gray-400">Pedidos</span>
        <h4 class="mt-1 font-bold text-gray-800 text-lg dark:text-white/90">5,359</h4>
      </div>
      <p-tag severity="danger" value="9.05%" icon="pi pi-arrow-down" [rounded]="true" class="text-xs"></p-tag>
    </div>
  </div>
  <!-- Metric Item End -->
</div>